{% extends 'pages/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
	<link rel="stylesheet" href="{% static 'profiles/Myprofile-before.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block content %}
	<section class="content">
		<div> <h3>Welcome to Book Shelf!</h3> </div>
		<div class="grid-container">
			<div class="log-in"> <p>Log in</p>
				<form id="log-in-form" method="POST"> <!-- </form>onsubmit="return validateLogin()">-->
					{% csrf_token %}
					{{ form2|crispy }}
					{% if invalid_user == True %}
						<h6> Invalid username or password </h6>
					{% endif %}
					<small id="password-toggle1">Show password</small>
				  <button type="submit" name="submit1" value="log_in">Log in</button>
				</form>
			</div>
			<div class="sign-up"> <p>Sign up</p>
				<form id="sign-up-form" method="POST">
					{% csrf_token %}
					{{ form1|crispy }}
					{% if invalid_un %}
						<h6 id="error"> The username you entered has been taken. Please use another one. </h6>
					{% endif %}
					<small id="password-toggle">Show password</small>
				  <button type="submit" name="submit2" value="sign_up">Sign up</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascript %}
<script src="{% static 'profiles/Myprofile-before.js' %}"></script>
{% endblock %}
	

