@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Nunito:wght@300&family=Roboto+Slab:wght@400;500&display=swap');
*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

/* header styling ends here */
header { 
	background-color: white;
	padding: 0px;
 }

button#logoutbase{
	border-radius: 5px;
	background-color:rgb(247, 188, 149);
	position:absolute;
	left:230px;
	top:50px;
	border-color: maroon;
}

button#logoutbase a{
   color:navy;
   text-decoration: none;
   font-size: 30px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   margin:10px;
}

button#logoutbase:hover{
	background-color:chocolate;
}

 #logo{
 	margin-left:20px;
 }

#navidiv {
	background-color: #F2542D;
	overflow: hidden;
}

#navidiv img{
	margin-left: 30px;
	padding:0;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 60px;
}

ul li{
	display: inline;
	text-align: center;
	font-size: 25px;
	font-family: "Merriweather", "Roboto Slab", serif;
}

ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	transition: 0.4s ease;
}

ul li a:hover{
	background-color: orange;
	color: black;
}

/*for nav bar to be sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* header styling ends here */

.content{
	margin:auto;
	background-image: linear-gradient(rgba(0 , 0, 0, 0.4), rgba(0 , 0, 0, 0.4)), url(bg6.jpg);
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px;

}

.title h3{
	font-family: "Nunito", sans-serif;
	font-size: 50px;
	padding: 10px;
	position: relative;
  	margin-left: 720px;
  	margin-top: 70px;
	transform: translate(-50%, -50%);
	letter-spacing:0.1em;
  	-webkit-text-fill-color: transparent;
  	-webkit-text-stroke-width: 3px;
  	-webkit-text-stroke-color: #F5DFBB;
  	text-shadow: 8px 8px #0E9594, 20px 20px #393e46;
}

.images {
	padding-top: 20px;
}

.images a {
	padding:0;
	margin:0;
}

.cover { /*generalized the book cover images */
	position: relative;
	left:60px;
	margin-right: 80px;
	margin-top: 40px;
}

.cover2 {
	margin-top: 45px;
	margin-left: 300px;
}

.modal {
	display: none; /* Hidden by default */
  	position: fixed; 
  	z-index: 1; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; 
  	height: 100%; 
 	overflow: auto; /* Enable scroll */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #F5DFBB;
	margin: 10% auto; 
	padding: 60px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 70%; 
}

.modal-content h3 {
	text-align: center;
	font-size:40px;
	padding-bottom: 20px;
}

.modal-content p {
	font-family: "Roboto Slab";
	font-size: 35px;
  	color: black;
  	line-height: 50px;
  	letter-spacing: 4px;
}

/* The close buttons */
.close {
  	color: #aaa;
  	float: right;
  	font-size: 28px;
  	font-weight: bold;
}

.close:hover,
.close:focus {
  	color: black;
  	text-decoration: none;
  	cursor: pointer;
}

footer {
	background-color: #F2542D;
	padding:10px;
	font-family: "Merriweather", serif;
}



